{% extends "base.html" %}
{% load filters %}

{% block content %}
{% include "nav_user.html" %}
<div class="main">
    <a href='/categories/create'>Add Category</a>
    <ul>
        {% for object in object_list %} 
        <div class="category">
            <li>{{object.name}}</li>
            <a href='/notes/{{ object.pk }}/create'></a>
        </div>
                {% for note in object.id|note_list %} 
                <div class="note">
                    <a class="note_name" href='/notes/detail/{{note.pk}}'>{{ note.name }}</a>
                    <a class="edit" href='/notes/edit/{{note.pk}}'></a>
                </div>
                {% endfor %} 
        {% empty %} 
            <li>No categories yet.</li> 
        {% endfor %} 
    </ul>
</div>
{% endblock %}