{% extends "base.html" %}
{% load filters %}

{% block content %}
{% include "nav_user.html" %}
<a href='/categories/create'>Add Category</a>
<ul>
    {% for object in object_list %} 
    <li>{{object.name}}</li>
    <a href='/notes/{{ object.pk }}/create'>Add Note</a>
        {% for note in object.id|note_list %} 
        <br><a href='/notes/detail/{{note.pk}}'>{{ note.name }}</a>
        <a href='/notes/edit/{{note.pk}}'>edit</a>
        {% endfor %} 
    {% empty %} 
    <li>No categories yet.</li> 
    {% endfor %} 
</ul>
{% endblock %}